* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    display: block;
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 1rem;
}

header nav {
    background-color: black;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
}

header nav ul li a {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

header nav ul li a:hover{color: #ffd700;}

.name {
    text-align: center;
    padding: 1.5rem;
}

.card-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
}

.card {
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    margin: 20px;
}

.card h2 {
    background-color: #1f4f6f;
    padding: 12px;
    margin: 0;
    color: white;
    text-align: center;
}

.card p {
    padding: 1rem;
}

.float-img {
    width: 120px;
    float: right;
    margin: 0 0 10px 15px;
    position: relative;
    right: 15px;
    top: 10px;
}

.location {
    border-bottom: 1px solid black;
    padding-bottom: 6px;
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.flex2 {
    display: flex;
    gap: 8px;
}

.flex2 img {
    width: 120px;
    margin-left: 5px;
}

.flex2 figcaption {
    font-style: italic;
    margin-left: 5px;
}

.card nav ul {
    list-style: disc;
    padding-left: 20px;
}

.card nav li {
    margin-bottom: 10px;
}


.card nav a {
    text-decoration: none;
    color: #1f4f6f;
}

.card nav a:hover {
    color: darkblue;
    text-decoration: underline;
}

footer {
    background-color: darkblue;
    padding: 1rem;
}

footer p {
    color: white;
    text-align: center;
}

main{max-width: 1200px;margin: 0 auto;}