@media screen and (min-width: 760px){
    #menu{display: none;}
    nav{display: block;}
    .nav{display: flex;margin-right: 0;gap: 7rem;}
    .nav li{display: grid;}
    .gallery{grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));}
    header{display: flex;align-items: center;justify-content: space-between;}
}